{% extends "base.html" %} {% block title %} | Attendances {% endblock %} {% block
body %}
<div class="d-flex justify-content-center my-3 text-muted">
    <h1>Student attendances</h1>
</div>
 <table class="container table table-striped">
  <thead>
    <tr>
      <th scope="col">Student Code</th>
        {% for day in days%}
            <th scope="col">{{ day }}</th>
        {%endfor%}
    </tr>
  </thead>
  <tbody>
    {% for student in students%}
        <tr>
          <th scope="row">{{ student.code }}</th>
            {% for day in days%}
                <td>
                    <ul>
                        {% for attendance in student.attendances%}
                            {% if attendance.date.strftime("%A") == day %}
                                <li>Presented at: {{ attendance.date.strftime("%m/%d/%Y, %H:%M:%S")}}</li>
                            {% endif %}
                        {%endfor%}
                    </ul>
                </td>
            {%endfor%}
        </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}